* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Helvetica, sans-serif;
}

/*||| Header styles ____________________*/

.header-container {
  display: flex;
  background-color: #1f2937;
  padding: 20px;
  justify-content: center;
}

.header {
  display: flex;
  width: 900px;
  justify-content: space-between;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #e5e7eb;
  font-size: 18px;
}

.header-link {
  margin-left: 20px;
}

/*||| Hero Styles ____________________*/

.hero-container {
  display: flex;
  height: 450px;
  background-color: #1f2937;
  justify-content: center;
}

.hero {
  display: flex;
  width: 900px;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  display: flex;
  height: 70%;
  width: 50%;
  justify-content: space-between;
  flex-direction: column;
}

.hero-text-nest {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.hero-text h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
  height: 50%;
  margin-bottom: 20px;
}

.hero-text p {
  color: #e5e7eb;
  font-size: 18px;
  height: 50%;
}

.hero-text button {
  width: 33%;
  height: 20%;
  margin-bottom: 40px;
  color: #f9faf8;
  background-color: #3882f6;
  border-color: #3882f6;
  border-radius: 1rem;
}

.hero-image {
  display: flex;
  height: 70%;
  width: 50%;
  background-color: lightgrey;
  justify-content: center;
  align-items: center;
}

/*||| Info styles ____________________*/

.info-container {
  display: flex;
  height: 450px;
  background-color: #e5e7eb;
  justify-content: center;
  border: 2px solid red; /*for debugging*/
}

.info {
  display: flex;
  width: 800px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-bottom: 70px;
  margin-top: 20px;
}

.info-header {
  color: #1f2937;
  font-weight: bold;
}

.info-header h1 {
  font-size: 36px;
}

.info-boxes {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 240px;
}

.info-box-image {
  height: 130px;
  width: 130px;
  border: 3px solid #3882f6;
  border-radius: 1.5rem;
}

.info-box-subtext {
  font-size: small;
  color: grey;
  padding: 0px 35px 0px 35px;
}

/*||| Quote Styles ____________________*/

.quote-container {
  display: flex;
  height: 450px;
  background-color: #d0d2d6;
  justify-content: center;
  align-items: center;
}

.quote {
  display: flex;
  width: 800px;
  flex-direction: column;
  text-align: left;
}

.quote-body {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.quote-subtext {
  padding-top: 10px;
  display: flex;
  align-self: flex-end;
  padding-right: 50px;
  color: #1f2937;
  font-size: 24px;
}
